In [90]:
import pandas as pd

In [91]:
p_te = pd.read_excel("Plantas termicas.xlsx", sheet_name = "ctermico")
g_bp_21 = pd.read_csv("gen_build_predetermined.csv")

In [92]:
p_te.head()

,!Num,...Nombre...,#Uni,Tipo,.PotIns,.GerMin,.GerMax,..Teif.,..Ih...,.CVaria,...,...2,...3,ComT,CTransp,StartUp,sfal,NGas,NuCC,..NombreCC..,CoefE.
0,1001,BARRANQUILL3,1,0,60.0,0,60.0,5.44,21.24,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,1.0
1,1003,BARRANQUILL4,1,0,60.0,0,60.0,7.18,21.34,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,NaN
2,1068,TEBSAB,1,0,791.0,0,791.0,5.70,9.10,5.53,...,NaN,NaN,0,0,23.347,0,NaN,NaN,NaN,NaN
3,1069,TEBSAGIM,1,0,791.0,0,791.0,5.70,9.10,5.53,...,0.0,0.0,0,0,23.347,0,NaN,NaN,NaN,NaN
4,1036,FLORES 1,1,0,160.0,0,160.0,3.76,9.20,5.53,...,NaN,NaN,0,0,18.203,0,NaN,NaN,NaN,NaN

In [93]:
g_bp_21.head()

  GENERATION_PROJECT  build_year  gen_predetermined_cap
0         AUT_UNIBOL        1995                   1.10
1       AUT_YAGUARIT        1996                   1.60
2        BIOG_DJUANA        2004                   1.70
3    BIOG-TEQUENDAMA        2005                   2.25
4       COG_MANUELIT        2001                   3.50

In [94]:
#Seleccion de los proyectos existentes
p_t = p_te.loc[p_te["Tipo"] == 0]
#Ajuste de los indices
num_rows = len(p_t.index)
p_t = p_t.set_index([pd.Index([i for i in range(num_rows)])])

In [95]:
#CreaciÃ³n de dataframe vacio para gen_build_predetermined
gen_bp_t = pd.DataFrame()

In [96]:
#Mapeo de generation project
gen_bp_t["GENERATION_PROJECT"] = p_t["...Nombre..."]

In [97]:
#Build year - Aun no esta
num_rows = len(gen_bp_t.index)
num_rows_21 = len(g_bp_21.index)
year = []
for i in range(num_rows):
    project = gen_bp_t["GENERATION_PROJECT"][i]
    found = False
    for j in range(num_rows_21):
        if project == g_bp_21["GENERATION_PROJECT"][j]:
            year.append(g_bp_21["build_year"][j])
            found = True
            break
    if not found:
        year.append(".")
gen_bp_t["build_year"] = year

In [98]:
#Build gen predetermined - Aun no esta
bp = []
for i in range(num_rows):
    project = gen_bp_t["GENERATION_PROJECT"][i]
    found = False
    for j in range(num_rows_21):
        if project == g_bp_21["GENERATION_PROJECT"][j]:
            bp.append(g_bp_21["gen_predetermined_cap"][j])
            found = True
            break
    if not found:
        bp.append(".")
gen_bp_t["build_gen_predetermined"] = bp

In [100]:
gen_bp_t.to_csv('gen_build_predetermined_thermal.csv')