In [1]:
import pandas as pd

In [2]:
p_t = pd.read_excel("Plantas termicas.xlsx", sheet_name = "ctermico")

In [3]:
p_t.head()

,!Num,...Nombre...,#Uni,Tipo,.PotIns,.GerMin,.GerMax,..Teif.,..Ih...,.CVaria,...,...2,...3,ComT,CTransp,StartUp,sfal,NGas,NuCC,..NombreCC..,CoefE.
0,1001,BARRANQUILL3,1,0,60.0,0,60.0,5.44,21.24,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,1.0
1,1003,BARRANQUILL4,1,0,60.0,0,60.0,7.18,21.34,5.53,...,NaN,NaN,0,0,16.682,0,NaN,NaN,NaN,NaN
2,1068,TEBSAB,1,0,791.0,0,791.0,5.70,9.10,5.53,...,NaN,NaN,0,0,23.347,0,NaN,NaN,NaN,NaN
3,1069,TEBSAGIM,1,0,791.0,0,791.0,5.70,9.10,5.53,...,0.0,0.0,0,0,23.347,0,NaN,NaN,NaN,NaN
4,1036,FLORES 1,1,0,160.0,0,160.0,3.76,9.20,5.53,...,NaN,NaN,0,0,18.203,0,NaN,NaN,NaN,NaN

In [7]:
#Creación de dataframe vacio para gen_build_cost
gen_bc_t = pd.DataFrame()

In [8]:
#Mapeo de generation project
gen_bc_t["GENERATION_PROJECT"] = p_t["...Nombre..."]

In [10]:
#Build year - Aun no esta
num_rows = len(p_t.index)
year = ["." for i in range(num_rows)]
gen_bc_t["build_year"] = year

In [14]:
#overnight cost - Aun no esta
oc = ["." for i in range(num_rows)]
gen_bc_t["gen_overnight_costs"] = oc

In [15]:
gen_bc_t

   GENERATION_PROJECT build_year gen_overnight_cost gen_overnight_costs
0        BARRANQUILL3          .                  .                   .
1        BARRANQUILL4          .                  .                   .
2              TEBSAB          .                  .                   .
3            TEBSAGIM          .                  .                   .
4            FLORES 1          .                  .                   .
5           FLORES1GN          .                  .                   .
6             FLORES4          .                  .                   .
7          FLORES4GIM          .                  .                   .
8          CARTAGENA1          .                  .                   .
9          CARTAGGAS1          .                  .                   .
10         CARTAGENA2          .                  .                   .
11         CARTAGGAS2          .                  .                   .
12         CARTAGENA3          .                  .                   .
13         CARTAGGAS3          .                  .                   .
14       PROELECTRIC1          .                  .                   .
15       PROELECTRIC2          .                  .                   .
16        CANDELARIA1          .                  .                   .
17        CANDELARIA2          .                  .                   .
18         TERMONORTE          .                  .                   .
19           GUAJIRA1          .                  .                   .
20           GUAJ1GAS          .                  .                   .
21           GUAJIRA2          .                  .                   .
22           GUAJ2GAS          .                  .                   .
23       TC_GECELCA32          .                  .                   .
24        TC_GECELCA3          .                  .                   .
25            PAIPA 1          .                  .                   .
26            PAIPA 2          .                  .                   .
27            PAIPA 3          .                  .                   .
28            PAIPA 4          .                  .                   .
29         TASAJERO 1          .                  .                   .
30         TASAJERO 2          .                  .                   .
31           ZIPAEMG2          .                  .                   .
32           ZIPAEMG3          .                  .                   .
33           ZIPAEMG4          .                  .                   .
34           ZIPAEMG5          .                  .                   .
35       MERILECTRICA          .                  .                   .
36        TERMOSIERRA          .                  .                   .
37         TSIERRAGAS          .                  .                   .
38        TERMOCENTRO          .                  .                   .
39       TERMODORADA1          .                  .                   .
40       TERMODORAGAS          .                  .                   .
41         TERMOVALLE          .                  .                   .
42         TERMOVAGAS          .                  .                   .
43        TERMOEMCALI          .                  .                   .
44        TERMOEMCGAS          .                  .                   .
45       TERMO YOPAL2          .                  .                   .
46       C_CANDELARIA          .                  .                   .
47       TERMO_JAGUEY          .                  .                   .
48       TERMORUBIALE          .                  .                   .
49         ELTESORITO          .                  .                   .
50       TERMOYOPALG3          .                  .                   .
51       TERMOYOPALG4          .                  .                   .
52       TERMOYOPALG5          .                  .                   .
53       TERMOCARIBE3          .                  .                   .